<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <a href="#" class="navbar-brand"><i class="fa fa-opencart text-warning fa-2x"></i></a>
  <ul class="navbar-nav">
    <li class="nav-item"><a href="#" class="nav-link text-white font-weight-bold">Recipe Book</a></li>
    <li class="nav-item"> <a href="#" class="nav-link text-white font-weight-bold">Recipes</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-white font-weight-bold">Shopping List</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-white font-weight-bold">Manage</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-white font-weight-bold">Cart</a></li>
  </ul>

  <!-- <form action="" class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search...">
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary"><i class="fa fa-search text-warning"></i></button>
      </div>
    </div>
  </form> -->
</nav>